@charset "UTF-8";
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(3, 0, 0, 0.86);
  max-width: 1100px;
  margin: 0 auto;
}

a,
a:visited {
  color: rgba(237, 237, 237, 0.814);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

p,
li,
a {
  font-family: roboto, sans-serif;
}

h2 {
  letter-spacing: 1.1px;
  color: white;
  padding-bottom: 10px;
}

p {
  color: rgba(237, 237, 237, 0.814);
}

header {
  height: 100vh;
}
header nav nav-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 30px 0;
}
header nav nav-container h2 {
  color: white;
  font-size: 1.2rem;
}
header nav nav-container .right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
header nav nav-container .right li {
  padding: 0 20px;
}
header nav nav-container .right li a {
  text-decoration: none;
}
header nav nav-container .right li i {
  color: rgba(237, 237, 237, 0.814);
}
header nav header-container {
  display: grid;
  grid-template-columns: 10% 40% 50%;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 150px;
}
header nav header-container .social ul li {
  padding: 5px 0;
}
header nav header-container .social ul li a {
  display: inline-block;
}
header nav header-container .picture img {
  width: 100%;
  border-radius: 10px;
}
header nav header-container .presentation {
  margin-left: 50px;
}
header nav header-container .presentation h1 {
  color: white;
  padding-bottom: 10px;
  line-height: 1.3;
  font-family: montserrat;
}
header nav header-container .presentation p {
  color: rgba(237, 237, 237, 0.814);
  padding-bottom: 10px;
}
header nav header-container .presentation .key2 {
  line-height: 1.5;
}
header nav header-container .presentation .link .link-container {
  margin-top: 20px;
}
header nav header-container .presentation .link .link-container a {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  letter-spacing: 1.3px;
  background: rgba(237, 237, 237, 0.18);
  border-radius: 5px;
}
header nav .down {
  text-align: center;
  margin-top: 150px;
}
header nav .down p {
  color: rgba(237, 237, 237, 0.814);
  text-decoration: underline;
  text-underline-offset: 6px;
}

.about-me .about-me-container {
  margin-bottom: 40px;
  text-align: center;
}
.about-me .about-me-container h2 {
  color: white;
  padding-bottom: 10px;
}
.about-me .about-me-container p {
  color: rgba(237, 237, 237, 0.814);
}
.about-me .about-contain {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
}
.about-me .about-contain .left-image {
  background: url(../img/computer.jpg) center/cover;
  height: 300px;
  width: 90%;
  margin: 0 auto;
}
.about-me .about-contain .right-text {
  margin-left: 20px;
  place-self: center;
  color: rgba(237, 237, 237, 0.814);
}
.about-me .about-contain .right-text p {
  line-height: 1.8;
}
.about-me .about-contain .right-text span.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 32px 0;
}
.about-me .about-contain .right-text span.container span span.num {
  display: block;
  color: white;
}
.about-me .about-contain .right-text .download a {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  letter-spacing: 1.3px;
  background: rgba(237, 237, 237, 0.18);
  border-radius: 5px;
}

.Compétences .skills-container {
  text-align: center;
  margin-top: 90px;
}
.Compétences ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
}
.Compétences ul li {
  color: rgba(237, 237, 237, 0.814);
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
  background: rgba(237, 237, 237, 0.18);
}

.services .services-container {
  text-align: center;
  margin-top: 100px;
}
.services .boite {
  margin: 30px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  gap: 20px;
}
.services .boite .menu {
  width: 80%;
}
.services .boite .menu span i {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.services .boite .menu h3 {
  margin: 0px 0 20px 0;
  color: white;
  line-height: 1.3;
}
.services .boite .menu li {
  display: none;
}
.services .boite .menu li:nth-child(-n+3) {
  display: list-item;
}
.services .boite .menu li p {
  color: rgba(237, 237, 237, 0.814);
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.services .boite .toggle-btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  color: white;
  background: purple;
  padding: 5px 10px;
  border-radius: 8px;
}
.services .boite #toggle {
  display: none;
}
.services .boite #toggle:checked ~ .menu li {
  display: list-item;
}
.services .boite #toggle:not(:checked) + .toggle-btn::after {
  content: "Voir plus";
}
.services .boite #toggle:checked + .toggle-btn::after {
  content: "Voir moins";
}
.services .boite .boite-container {
  width: 80%;
}
.services .boite .boite-container span i {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.services .boite .boite-container h3 {
  margin: 0px 0 20px 0;
  color: white;
  line-height: 1.3;
}
.services .boite .boite-container li {
  padding: 5px 0;
}
.services .boite .boite-container li p {
  color: rgba(237, 237, 237, 0.814);
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.projects {
  margin: 50px 0;
}
.projects .projects-container .div {
  text-align: center;
  padding-bottom: 50px;
}
.projects .projects-container .project-card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.projects .projects-container .project-card-container .card-container .img-container img {
  width: 80%;
  border-radius: 5px;
}
.projects .projects-container .project-card-container .card-container .text h3 {
  color: white;
  padding: 15px 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.projects .projects-container .project-card-container .card-container .text p {
  line-height: 1.3;
  letter-spacing: 1px;
  font-size: 0.9rem;
  width: 90%;
}
.projects .projects-container .project-card-container .card-container .text .link .link-container {
  margin: 30px 0;
}
.projects .projects-container .project-card-container .card-container .text .link .link-container a {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  letter-spacing: 1.3px;
  background: rgba(237, 237, 237, 0.18);
  border-radius: 5px;
}

.mail {
  margin-top: 90px;
}
.mail .mail-container {
  display: grid;
  grid-template-columns: 60% 40%;
  background: black;
  width: 80%;
  margin: 0 auto;
  height: 250px;
  border-radius: 10px;
}
.mail .mail-container .left-mail {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 30px;
}
.mail .mail-container .left-mail h3 {
  color: white;
  padding-bottom: 10px;
  font-size: 1.5rem;
}
.mail .mail-container .left-mail p {
  line-height: 1.5;
}
.mail .mail-container .left-mail .link {
  margin-top: 35px;
}
.mail .mail-container .left-mail .link a {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  letter-spacing: 1.3px;
  background: rgba(237, 237, 237, 0.18);
  border-radius: 5px;
}
.mail .mail-container .right-mail {
  background: url(../img/phone.webp) center/cover;
  height: 80%;
  width: 80%;
  margin: 25px 0 10px 0;
  border-radius: 5px;
}

.testimonial {
  margin-top: 90px;
}
.testimonial .testimonial-container .testi {
  text-align: center;
  margin-bottom: 30px;
}
.testimonial .testimonial-container .avis .avis-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}
.testimonial .testimonial-container .avis .avis-container .containt {
  place-self: center;
  padding-bottom: 20px;
  padding: 10px 30px 30px 30px;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper {
  display: grid;
  grid-template-columns: 20% 30% 20%;
  padding: 20px 0;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper span.image {
  width: 100%;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper span.image img {
  width: 65%;
  border-radius: 100px;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper .text h5 {
  color: white;
  font-size: 1rem;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper .text h6 {
  color: rgba(237, 237, 237, 0.814);
  padding-top: 5px;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper span span.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 10px;
}
.testimonial .testimonial-container .avis .avis-container .containt .upper span span.container li i {
  color: #ff9800;
  font-size: 0.8rem;
}
.testimonial .testimonial-container .avis .avis-container .containt .down p {
  line-height: 1.5;
}

.contact-me {
  margin-top: 70px;
}
.contact-me .contact-me-container .contact {
  text-align: center;
}
.contact-me .contact-me-container .container {
  margin-bottom: 30px;
}
.contact-me .contact-me-container .container .uper .uper-container {
  display: grid;
  grid-template-columns: 5% 90%;
  gap: 10px;
}
.contact-me .contact-me-container .container .uper .uper-container .uper-left {
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: right;
      justify-content: right;
}
.contact-me .contact-me-container .container .uper .uper-container .uper-left i {
  color: rgba(237, 237, 237, 0.814);
  font-size: 1.5rem;
}
.contact-me .contact-me-container .container .uper .uper-container .uper-right h5 {
  color: white;
  font-size: 1rem;
  letter-spacing: 1.2px;
  padding-bottom: 8px;
}
.contact-me .contact-me-container .container .uper .uper-container .uper-right p a {
  text-decoration: none;
}

footer {
  margin-top: 90px;
  position: relative;
  max-width: 25000px;
  padding-bottom: 30px;
}
footer::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(237, 237, 237, 0.18);
  position: absolute;
  top: -20px;
}
footer footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  -ms-flex-align: center;
      align-items: center;
}
footer footer-container footer-left h3 {
  color: white;
}
footer footer-container footer-left p {
  font-size: 0.9rem;
}
footer footer-container footer-right ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
footer footer-container footer-right ul li a {
  text-decoration: none;
  font-size: 0.9rem;
}/*# sourceMappingURL=index.css.map */