.contact-me {
  margin-top: 70px;
  .contact-me-container {
    .contact {
      text-align: center;

      p {
        @media screen and (max-width: 400px) {
          padding: 0 10px;
        }
      }
    }
    .container {
      margin-bottom: 30px;
      @media screen and (max-width: 800px) {
        margin-left: 20px;
        margin-top: 30px;
      }
      .uper {
        .uper-container {
          display: grid;
          grid-template-columns: 5% 90%;
          gap: 10px;

          .uper-left {
            display: block;
            display: flex;
            justify-content: right;

            i {
              color: $white2;
              font-size: 1.5rem;
            }
          }
          .uper-right {
            h5 {
              color: $white1;
              font-size: 1rem;
              letter-spacing: 1.2px;
              padding-bottom: 8px;
            }
            p {
              a {
                text-decoration: none;
                // color: #2575fc; // couleur de base
                text-decoration: none;
                position: relative;
                transition: all 0.3s ease;

                &::after {
                  content: "";
                  position: absolute;
                  width: 0%;
                  height: 2px;
                  left: 0;
                  bottom: -2px;
                  background: #2575fc; // couleur de la ligne
                  transition: width 0.3s ease;
                }

                // &:hover {
                //   color: #6a11cb; // couleur au hover
                // }

                &:hover::after {
                  width: 100%; // ligne qui s’étend sous le texte
                }
              }
            }
          }
        }
      }
    }
  }
}
