footer {
  margin-top: 90px;
  position: relative;
  max-width: 25000px;
  padding-bottom: 30px;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background: $white3;
    position: absolute;
    top: -20px;
  }
  footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    @media screen and (max-width: 1130px) {
      margin: 0 20px;
    }
    @media screen and (max-width: 817px) {
      grid-template-columns: 100%;
    }

    footer-left {
      @media screen and (max-width: 817px) {
        display: block;
        grid-template-columns: 100%;
      }
      h3 {
        color: $white1;
      }
      p {
        font-size: 0.9rem;
      }
    }
    footer-right {
      @media screen and (max-width: 850px) {
        display: none;
      }
      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          // a {
          //   text-decoration: none;
          //   font-size: 0.9rem;
          a {
            color: #ccc; // couleur de base (gris clair)
            // font-size: 18px;
            transition: all 0.3s ease;
            position: relative;

            &:hover {
              color: #2575fc; // violet moderne
              transform: translateY(-3px) scale(1.1); // petit zoom et levée
            }

            // petit effet underline pour les liens texte
            &:not(:has(i))::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -4px;
              width: 0%;
              height: 2px;
              background: #2575fc;
              transition: width 0.3s ease;
            }

            &:not(:has(i)):hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
